body {
    background-color: blanchedalmond;
}

h1 {
    color: black;
    font-family: "Meie Script", cursive;
}

p {
    color: black;
    font-size: 27px;
    /* tamanho da fonte/letra*/
    line-height: 1;
    /*espaçamento entre linhas*/
    font-family: "Meie Script", cursive;
}

#primeiro {
    color: peru;
}

#segundo {
    color: rgb(182, 35, 182);
}

.turmaA {
    font-size: xx-large;
}

div {
    height: 100%;
    width: 100%;
    background-color: blue;
    overflow: visible;

}